.titre-utilis{
    margin: 1em;
    text-align: center;
    text-decoration: underline;
}

table{
    border-collapse: collapse;
    margin-top: 2em;
}
  
th, td{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.bloc-action{
  display: flex;
  flex-flow: row;
}

.form-action {
  width: 80%;
  margin: 5px 5px 0px 5px;
  padding: 0;
  border: none;
}

.form-action > input {
  width: 80%;
  padding: 2px;
  cursor: pointer;
  border: 0.5px solid black;
}

.form-action > input:hover {
  background-color: black;
  color: white;
}

div {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 1em;
}

button {
  width: 20%;
  padding: 0.5em;
  margin: 5px 10px 5px 10px;
  
}

a {
  text-decoration: none;
  color: black;
}

